name: quiz-creator

services:
  web-app:
    build:
      context: ./../
      dockerfile: ./dockerfiles/next.dockerfile
    develop:
      watch:
        - action: sync
          path: ./..
          target: /app
          ignore:
            - /node_modules
            - /.next
            - /.idea
            - /.git
        - action: rebuild
          path: ./../package.json
          target: /app/package.json
    volumes:
      - node_modules:/app/node_modules
      - next_cache:/app/.next
    ports:
      - "127.0.0.1:3000:3000"
    command: "npm run dev"


volumes:
  node_modules:
  next_cache: